APP_PORT=3000
POSTGRES_PORT=5432

DB_USER=rdvisit
DB_PASSWORD=change-me
DB_NAME=rdvisit

JWT_SECRET=change-me-to-a-long-random-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h

MJ_APIKEY_PUBLIC=change-me
MJ_APIKEY_PRIVATE=change-me
MJ_SENDER_EMAIL=no-reply@example.com
MJ_APP_NAME=RDVisit

VERIFICATION_CODE_TTL=15m
